.todo-page-main-container {
    padding: 1rem;
}

.todo-page-ops-container {
    margin: 0 1.2rem;
}

.todo-page-name-field {

}

.todo-page-name-field-tag {
    padding: 1rem 0.6rem;
}

.todo-page-add-button-field {
    margin: 0.8rem 0;
}

.todo-page-add-button {
    padding: 0.6rem;
    border-radius: 0.2rem;
    font-weight: 500;
    background-color: #6eade3;
    color: white;
}

.todo-page-add-button:hover {
    background-color: #55aefc;
}

.todo-page-empty {
    text-align: center;
    font-size: large;
    color: #dbdbdb;
}