body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Hussar-Bold;
  src: url(./Assets/Fonts/hussarboldweb.otf);
}

@import './Component/Button/style.css';
@import './Component/CheckboxField/style.css';
@import './Component/InputField/style.css';
@import './Container/LoginPage/style.css';